.bdgreen {
  border: 2px solid green;
}
.bdred {
  border: 2px solid red;
}
.color-inner {
  background-color: white;
}
.colorsq {
  background-color: #E6E6E6;
}
.inner-padding {
  padding: 1rem;
}
.noblock {
  display: inline-block;
}
.nomargin {
  margin: 0;
}
.reviews-index {
  margin: 2rem;
}
.title {
  padding-bottom: 2rem;
}
.venue-detail{
  margin: 2rem;
}
.venue-show-img {
  width: auto;
  height: auto;
  border-radius: 3px;
}

.venue_detail {
  color: white;
  background-color: #744150;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 4px;
  margin: 15px;
  padding: 15px;
}
