
.venue-index-pic {
  width: 400px;
  height: 300px;
  border-radius: 3px;
}

.venue_tile {
  background-color: #744150;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 4px;
  text-align: center;
  font-size: 1.5em;
  width: 400px;
  margin: 15px;
  padding: 15px;
}

.venue_tile:hover {
  opacity: 0.3;
}

.add_venue_bar {
  color: white;
  background-color: #416a74;
  margin: 15px;
  margin-top: 3%;
  padding: 1% 1% 1% 1%;
  text-align: center;
  font-size: 1.6rem;
  width: 12rem;
  border-radius: 4px;
}

.add_venue_bar:hover {
    opacity: 0.3;
}

.venue_name {
  color: white;
  margin-top: 3%;
}
