.bdgreen {
  /* border: 2px solid green; */
  background-color: rgb(210, 189, 205)
}
.bdred {
  /* border: 2px solid red; */
  background-color: rgb(203, 203, 203)
}
.color-inner {
  background-color: white;
}
.colorsq {
  background-color: #E6E6E6;
}
.inner-padding {
  padding: 1rem;
}
.noblock {
  display: inline-block;
}
.nomargin {
  margin: 0;
}
.margin-top {
  margin: 2rem 0 0 0;
}
.reviews-index {
  margin: 2rem;
}
.title {
  padding-bottom: 2rem;
}
.venue-detail{
  margin: 2rem;
}
.venue-show-img {
  width: auto;
  height: auto;
}
.white {
  background-color: rgb(250, 250, 250)
}
